@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --height-navbar: 100px;
  --height-footer: max(400px, fit-content);

  --color-navbar-contact: #edecfd;
  --color-primary-red: #f04e4e;
  --color-primary-blue: #2d2dce;
  --color-primary-green: #00c853;
  --color-text-blue: #2d2dce;
  --color-contact-bg: #edecfd;

  --font-family-mitr: 'Mitr', sans-serif;
}
:root {
  font-family: 'Mitr', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

